@import "_resetbs";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap";

// module sidebar
#sidebar-nav {
    width: 280px;
}

.bg-dark-900{
    background-color: $blue-900;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-actions {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

.image-container:hover .image-actions {
    display: block;
}

.edit-btn, .delete-btn {
    margin: 5px;
    /* Ajoutez plus de styles selon vos besoins */
}
